*

# machine-specific patches
!duralumin.patch
!thinkharder.patch

# config directories that should be tracked:

!alacritty
!alacritty/**

!git
!git/**

!nvim
!nvim/**
nvim/lazy-lock.json

!zsh
!zsh/**
zsh/.zcompcache
zsh/.zcompdump

!tmux
!tmux/**
tmux/plugins/**

!zathura
!zathura/**

!fd
!fd/**

!sway
!sway/**
sway/.wallpaper_index

!waybar
!waybar/**

!rofi
!rofi/**
