* {
	border: none;
	border-radius: 0;
	font-family: "JetBrainsMono Nerd Font";
	font-size: 12px;
	min-height: 18px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 26px;
	transition: none;
    color: transparent;
	background: transparent;
}

#workspaces {
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #282a36;
	transition: none;
}


#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
    color: #ffaa22;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
    color: #ffaa22;
}

#network {
	margin-top: 16px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #1d1d1d;
	background: #bd93f9;
}

#pulseaudio {
	margin-top: 16px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #1d1d1d;
	background: #9aedfe;
}

#temperature {
	margin-top: 16px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #1d1d1d;
	background: #5af78e;
}

#cpu {
	margin-top: 16px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #1d1d1d;
	background: #f1fa8c;
}

#memory {
	margin-top: 16px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #1d1d1d;
	background: #ff5e57;
}

#disk {
	margin-top: 16px;
	margin-left: 8px;
	margin-right: 16px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #1d1d1d;
	background: #ff8e57;
}

#clock {
	margin-top: 16px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #ffffff;
	background: #282a36;
}

#battery {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #1d1d1d;
	background: #ff5e57;
}

